
    @media screen and (min-width: 1024px){
        .lead__wrapper{  width: calc(100% - 96px);
            margin-left: auto;
            margin-right: auto;
        }
    
        
    }
    
    @media screen and (min-width: 1280px){
        .lead__wrapper{  
            width: calc(100% - 296px);
            max-width: 984px;
            margin-left: auto;
            margin-right: auto;
        }
    
        
    }
