.lead__subtitle{
    
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
@media screen and (min-width: 768px){
    .lead__subtitle{
    max-width: 640px;
    }
}