.footer{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        max-width: 93%;
        margin-left: auto;
        margin-right: auto;
        
    }
}

@media screen and (min-width: 1024px) {
    .footer {
    max-width: 90%;
    }
}

@media screen and (min-width: 1280px){
    .footer{
        max-width: 1184px;
    }
}